@charset "UTF-8";
.inner {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #F6F6F6;
  min-width: 1280px;
}
@media (max-width: 767px) {
  body {
    min-width: initial;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

.hero {
  width: 100%;
  height: 870px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero {
    height: 580px;
  }
}
.hero::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/EE-hero-bg.png) no-repeat center center/cover;
}
.hero-noise {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../images/EE-noise-bg.png) no-repeat center center/cover;
  z-index: 5;
}
.hero__bg--left, .hero__bg--right {
  position: absolute;
  height: auto;
  opacity: 0;
}
.hero__bg--left {
  width: 260px;
  top: 0;
  left: 0;
  -webkit-animation-name: fadeInSlideInHorizontal;
          animation-name: fadeInSlideInHorizontal;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero__bg--left {
    width: 150px;
    top: -20px;
  }
}
.hero__bg--right {
  width: 375px;
  right: 0;
  bottom: 0;
  -webkit-animation-name: fadeInSlideInVertical;
          animation-name: fadeInSlideInVertical;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero__bg--right {
    width: 170px;
    bottom: -15px;
  }
}
.hero-floatings {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation-name: Opacity;
          animation-name: Opacity;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hero-floating {
  position: absolute;
  height: auto;
}
.hero-floating01 {
  width: 70px;
  top: 120px;
  left: 60%;
  -webkit-animation-name: float01;
          animation-name: float01;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating01 {
    width: 50px;
    top: 10px;
    left: 85%;
  }
}
.hero-floating02 {
  width: 100px;
  top: 160px;
  left: 20%;
  -webkit-animation-name: float02;
          animation-name: float02;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating02 {
    width: 60px;
    top: 150px;
    left: 70%;
  }
}
.hero-floating03 {
  width: 40px;
  top: 290px;
  left: 23%;
  -webkit-animation-name: float01;
          animation-name: float01;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating03 {
    width: 25px;
    top: 180px;
    left: 30%;
  }
}
.hero-floating04 {
  width: 50px;
  top: 310px;
  left: 80%;
  -webkit-animation-name: float03;
          animation-name: float03;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hero-floating05 {
  width: 80px;
  top: 546px;
  left: 18%;
  -webkit-animation-name: float03;
          animation-name: float03;
  -webkit-animation-duration: 2.1s;
          animation-duration: 2.1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating05 {
    width: 50px;
    top: 450px;
    left: 40%;
  }
}
.hero-floating06 {
  width: 80px;
  bottom: 180px;
  left: 5%;
  -webkit-animation-name: float02;
          animation-name: float02;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating06 {
    width: 50px;
    bottom: 90px;
    left: 2%;
  }
}
.hero-floating07 {
  width: 80px;
  bottom: 40%;
  right: 25%;
  -webkit-animation-name: float02;
          animation-name: float02;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating07 {
    width: 50px;
    bottom: 350px;
    left: 12%;
  }
}
.hero-floating08 {
  width: 80px;
  bottom: 80px;
  left: 55%;
  -webkit-animation-name: float01;
          animation-name: float01;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating08 {
    width: 50px;
    bottom: 80px;
    left: 12%;
  }
}
.hero-floating09 {
  width: 80px;
  bottom: 50%;
  right: 1%;
  -webkit-animation-name: float01;
          animation-name: float01;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating09 {
    width: 50px;
    bottom: 150px;
    right: 12%;
  }
}
.hero-floating10 {
  width: 70px;
  top: 23%;
  left: 11%;
  -webkit-animation-name: float04;
          animation-name: float04;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating10 {
    width: 50px;
    top: 20%;
    left: 12%;
    display: none;
  }
}
.hero-floating11 {
  width: 100px;
  top: 0%;
  left: 48%;
  -webkit-animation-name: float04;
          animation-name: float04;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating11 {
    width: 50px;
  }
}
.hero-floating12 {
  width: 100px;
  top: 10%;
  right: 8%;
  -webkit-animation-name: float02;
          animation-name: float02;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating12 {
    width: 70px;
  }
}
.hero-floating13 {
  width: 50px;
  top: 0;
  left: 25%;
  -webkit-animation-name: float01;
          animation-name: float01;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating13 {
    width: 70px;
    display: none;
  }
}
.hero-floating14 {
  width: 100px;
  bottom: 3%;
  right: 22%;
  -webkit-animation-name: float04;
          animation-name: float04;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-floating14 {
    width: 70px;
  }
}
.hero-inner {
  padding: 50px;
  position: relative;
}
@media (max-width: 767px) {
  .hero-inner {
    padding: 36px 12px;
  }
}
.hero-slideTitleArea--horizontal, .hero-slideTitleArea--vertical {
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero-slideTitleArea--horizontal, .hero-slideTitleArea--vertical {
    display: none;
  }
}
.hero-slideTitleArea--horizontal {
  height: 76px;
}
.hero-slideTitleArea--vertical {
  height: 470px;
  width: 76px;
  margin-left: auto;
}
.hero-slideTitleArea--horizontalSp01, .hero-slideTitleArea--horizontalSp02, .hero-slideTitleArea--horizontalSp03 {
  position: relative;
  overflow: hidden;
  height: 33px;
  display: none;
}
@media (max-width: 767px) {
  .hero-slideTitleArea--horizontalSp01, .hero-slideTitleArea--horizontalSp02, .hero-slideTitleArea--horizontalSp03 {
    display: block;
  }
}
.hero-slideTitleArea--horizontalSp02, .hero-slideTitleArea--horizontalSp03 {
  margin-top: 14px;
}
.hero__slideTitle--horizontal, .hero__slideTitle--vertical {
  background-color: #161616;
  color: #fff;
  font-size: 76px;
  line-height: 1;
  position: absolute;
}
.hero__slideTitle--horizontal {
  top: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding-left: 15px;
  -webkit-animation-name: horizontal;
          animation-name: horizontal;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hero__slideTitle--vertical {
  height: 100%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: -0.15em;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding-bottom: 5px;
  -webkit-animation-name: vertical;
          animation-name: vertical;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hero__slideTitle--horizontalSp01, .hero__slideTitle--horizontalSp02, .hero__slideTitle--horizontalSp03 {
  background-color: #161616;
  color: #fff;
  font-size: 34px;
  line-height: 1;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: none;
  -webkit-animation-name: horizontal;
          animation-name: horizontal;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero__slideTitle--horizontalSp01, .hero__slideTitle--horizontalSp02, .hero__slideTitle--horizontalSp03 {
    display: block;
  }
}
.hero-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.hero-containerTextArea {
  text-align: center;
}
@media (max-width: 767px) {
  .hero-containerTextArea {
    text-align: left;
    padding-top: 50px;
  }
}
.hero-titleArea {
  width: auto;
  height: 320px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .hero-titleArea {
    height: 145px;
  }
}
.hero__title {
  width: 740px;
  height: auto;
  -webkit-animation-name: fadeUpHeroTitle;
          animation-name: fadeUpHeroTitle;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero__title {
    width: 340px;
  }
}
.hero__title--small {
  width: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero__title--small {
    width: 190px;
  }
}
.hero-place {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-place {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 8px;
  }
}
.hero-place__icon {
  width: 22px;
  height: auto;
}
@media (max-width: 767px) {
  .hero-place__icon {
    width: 15px;
  }
}
.hero-place__text {
  font-size: 29px;
  font-weight: 900;
  color: #0C0C0C;
}
@media (max-width: 767px) {
  .hero-place__text {
    font-size: 20px;
  }
}
.hero-dateArea {
  width: 500px;
  height: auto;
  position: absolute;
  bottom: -50px;
  left: 0;
  -webkit-animation-name: fadeUp;
          animation-name: fadeUp;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@media (max-width: 767px) {
  .hero-dateArea {
    width: 240px;
    bottom: -30px;
  }
}
.hero-dateArea__img {
  width: 100%;
  height: auto;
}
@-webkit-keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes horizontal {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes horizontal {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes vertical {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes vertical {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes fadeInSlideInHorizontal {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes fadeInSlideInHorizontal {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    opacity: 0;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes fadeInSlideInVertical {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@keyframes fadeInSlideInVertical {
  0% {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    opacity: 0;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes float01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes float01 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes float02 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes float02 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes float03 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes float03 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes float04 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes float04 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeUpHeroTitle {
  0% {
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeUpHeroTitle {
  0% {
    -webkit-transform: translateY(75%);
            transform: translateY(75%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.countdown {
  background-color: #000;
}
.countdown-inner {
  padding: 120px 0;
}
@media (max-width: 767px) {
  .countdown-inner {
    padding: 60px 0;
  }
}
.countdown__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .countdown__title {
    font-size: 25px;
  }
}
.countdown-container {
  text-align: center;
}
.countdown-timeNum {
  position: relative;
  display: inline-block;
  font-size: 100px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}
@media (max-width: 767px) {
  .countdown-timeNum {
    font-size: 70px;
  }
}
.countdown-timeNum::before, .countdown-timeNum::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
}
.countdown-timeNum::before {
  left: 0;
}
.countdown-timeNum::after {
  right: 0;
}
.countdown-timeNum:nth-child(1) {
  padding-right: 32px;
}
.countdown-timeNum:nth-child(1)::before {
  display: none;
}
@media (max-width: 767px) {
  .countdown-timeNum:nth-child(1) {
    padding-right: 16px;
  }
}
.countdown-timeNum:nth-child(2) {
  padding: 0 32px;
}
@media (max-width: 767px) {
  .countdown-timeNum:nth-child(2) {
    padding: 0 16px;
  }
}
.countdown-timeNum:nth-child(3) {
  padding-left: 32px;
}
.countdown-timeNum:nth-child(3)::after {
  display: none;
}
@media (max-width: 767px) {
  .countdown-timeNum:nth-child(3) {
    padding-left: 16px;
  }
}
.countdown-timeUnit {
  display: block;
  font-size: 24px;
  line-height: 1;
}
@media (max-width: 767px) {
  .countdown-timeUnit {
    font-size: 16px;
  }
}
.countdown-done {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.concept {
  position: relative;
  overflow: hidden;
}
.concept::after {
  content: "";
  display: block;
  width: 160%;
  height: 300px;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../../images/EE-concept-bgText.png) no-repeat center center/contain;
}
.concept-inner {
  padding-top: 150px;
}
.concept__head {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-size: 77px;
  line-height: 1;
  background-color: #161616;
  color: #fff;
}
.concept__head:not(:first-child) {
  margin-top: 22px;
}
.concept__head--horizontal.scroll {
  -webkit-animation-name: horizontal;
          animation-name: horizontal;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.concept-textArea {
  position: relative;
  z-index: 2;
  max-width: 580px;
  margin-left: auto;
}
.concept__text {
  margin-top: 64px;
  line-height: 2.3em;
  font-weight: bold;
}

/* ========================================================================
Foundation - ファウンデーション
======================================================================== */
/* ========================================================================
	Layout - レイアウト
======================================================================== */
/* ========================================================================
	Objects - オブジェクト
======================================================================== */