@use "../foundation/global" as *;

.hero {
    width: 100%;
    height: 870px; //仮おき
    position: relative;
    overflow: hidden;

    @include mq("sp") {
        height: 580px;
    }

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/EE-hero-bg.png) no-repeat center center / cover;
    }

    &-noise {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../images/EE-noise-bg.png) no-repeat center center / cover;
        z-index: 5;
    }

    &__bg {

        &--left,
        &--right {
            position: absolute;
            height: auto;
            opacity: 0;
        }
        &--left {
            width: 260px;
            top: 0;
            left: 0;

            @include mq("sp") {
                width: 150px;
                top: -20px;
            }

            @include animation(
                $name: fadeInSlideInHorizontal,
                $iteration-count: 1,
                $duration: 1s,
                $delay: .5s,
                $timing-function: ease-in-out,
            )
        }
        &--right {
            width: 375px;
            right: 0;
            bottom: 0;

            @include mq("sp") {
                width: 170px;
                bottom: -15px;
            }

            @include animation(
                $name: fadeInSlideInVertical,
                $iteration-count: 1,
                $duration: 1s,
                $delay: .5s,
                $timing-function: ease-in-out,
            )
        }
    }
    &-floatings {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        @include animation(
            $name: Opacity,
            $iteration-count: 1,
            $duration: 3s,
            $delay: 2.5s,
            $timing-function: ease-in-out,
        )
    }
    &-floating {
        position: absolute;
        height: auto;
    }
    &-floating01 {
        width: 70px;
        top: 120px;
        left: 60%;

        @include mq("sp") {
            width: 50px;
            top: 10px;
            left: 85%;
        }

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating02 {
        width: 100px;
        top: 160px;
        left: 20%;

        @include mq("sp") {
            width: 60px;
            top: 150px;
            left: 70%;
        }

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating03 {
        width: 40px;
        top: 290px;
        left: 23%;

        @include mq("sp") {
            width: 25px;
            top: 180px;
            left: 30%;
        }

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating04 {
        width: 50px;
        top: 310px;
        left: 80%;

        @include animation(
            $name: float03,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating05 {
        width: 80px;
        top: 546px;
        left: 18%;

        @include mq("sp") {
            width: 50px;
            top: 450px;
            left: 40%;
        }

        @include animation(
            $name: float03,
            $iteration-count: infinite,
            $duration: 2.1s,
        )
    }
    &-floating06 {
        width: 80px;
        bottom: 180px;
        left: 5%;

        @include mq("sp") {
            width: 50px;
            bottom: 90px;
            left: 2%;
        }

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating07 {
        width: 80px;
        bottom: 40%;
        right: 25%;

        @include mq("sp") {
            width: 50px;
            bottom: 350px;
            left: 12%;
        }

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating08 {
        width: 80px;
        bottom: 80px;
        left: 55%;

        @include mq("sp") {
            width: 50px;
            bottom: 80px;
            left: 12%;
        }

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating09 {
        width: 80px;
        bottom: 50%;
        right: 1%;

        @include mq("sp") {
            width: 50px;
            bottom: 150px;
            right: 12%;
        }

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating10 {
        width: 70px;
        top: 23%;
        left: 11%;

        @include mq("sp") {
            width: 50px;
            top: 20%;
            left: 12%;
            display: none;
        }

        @include animation(
            $name: float04,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating11 {
        width: 100px;
        top: 0%;
        left: 48%;

        @include mq("sp") {
            width: 50px;
        }

        @include animation(
            $name: float04,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating12 {
        width: 100px;
        top: 10%;
        right: 8%;

        @include mq("sp") {
            width: 70px;
        }

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating13 {
        width: 50px;
        top: 0;
        left: 25%;

        @include mq("sp") {
            width: 70px;
            display: none;
        }

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating14 {
        width: 100px;
        bottom: 3%;
        right: 22%;

        @include mq("sp") {
          width: 70px;
          
        }

        @include animation(
            $name: float04,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }

    &-inner {
        padding: 50px;
        position: relative;

        @include mq("sp") {
            padding: 36px 12px;
        }
    }

    &-slideTitleArea {

        &--horizontal,
        &--vertical {
            position: relative;
            overflow: hidden;

            @include mq("sp") {
                display: none;
            }
        }
        &--horizontal {
            height: 76px;
        }
        &--vertical {
            height: 470px;
            width: 76px;
            margin-left: auto;
        }

        &--horizontalSp01,
        &--horizontalSp02,
        &--horizontalSp03  {
            position: relative;
            overflow: hidden;
            height: 33px;
            display: none;

            @include mq("sp") {
                display: block;
            }
        }
        &--horizontalSp02 ,
        &--horizontalSp03 {
            margin-top: 14px;
        }
        
    }
    &__slideTitle {

        &--horizontal,
        &--vertical {
            background-color: $color_black01;
            color: $PureWhite;
            font-size: 76px;
            line-height: 1;
            position: absolute;
        }
        &--horizontal {
            top: 0;
            right: 0;
            transform: translateY(100%);
            padding-left: 15px;
            
            @include animation(
                $name: horizontal,
                $iteration-count: 1,
                $duration: 1.5s,
                $timing-function: ease-in-out,
                $delay: 1s,
            )
        }
            
        &--vertical {
            height: 100%;
            writing-mode: vertical-rl;
            letter-spacing: -.15em;
            right: 0;
            transform: translateX(100%);
            padding-bottom: 5px;

            @include animation(
                $name: vertical,
                $iteration-count: 1,
                $duration: 1.5s,
                $timing-function: ease-in-out,
                $delay: 1s,
            )
        }

        &--horizontalSp01,
        &--horizontalSp02,
        &--horizontalSp03 {
            background-color: $color_black01;
            color: $PureWhite;
            font-size: 34px;
            line-height: 1;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(100%);
            display: none;

            @include mq("sp") {
                display: block;
            }
            
            @include animation(
                $name: horizontal,
                $iteration-count: 1,
                $duration: 1.5s,
                $timing-function: ease-in-out,
                $delay: 1s,
            )
        }
    }

    &-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        place-items: center;
    }
    &-containerTextArea {
        text-align: center;

        @include mq("sp") {
            text-align: left;
            padding-top: 50px;
        }
    }

    &-titleArea {
        width: auto;
        height: 320px;
        overflow: hidden;

        @include mq("sp") {
            height: 145px;
        }
    }
    &__title {
        width: 740px;
        height: auto;

        @include mq("sp") {
            width: 340px;
        }

        &--small {
            width: 370px;
            object-fit: cover;

            @include mq("sp") {
                width: 190px;
            }

            @include animation(
                $name: fadeUp,
                $duration: 2.5s,
                $timing-function: ease-in-out,
            )
        }

        @include animation(
            $name: fadeUpHeroTitle,
            $duration: 2.5s,
            $timing-function: ease-in-out,
        )
    }
    &-place {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq("sp") {
            justify-content: flex-start;
            gap: 8px;
        }

        &__icon {
            width: 22px;
            height: auto;

            @include mq("sp") {
                width: 15px;
            }
        }

        &__text {
            font-size: 29px;
            font-weight: 900;
            color: #0C0C0C;

            @include mq("sp") {
                font-size: 20px;
            }
        }

        @include animation(
            $name: fadeUp,
            $duration: 2s,
            $timing-function: ease-in-out,
        )
    }


    &-dateArea {
        width: 500px;
        height: auto;
        position: absolute;
        bottom: -50px;
        left: 0;

        @include mq("sp") {
            width: 240px;
            bottom: -30px;
        }

        &__img {
            width: 100%;
            height: auto;
        }

        @include animation(
            $name: fadeUp,
            $duration: 3.2s,
            $timing-function: ease-in-out,
        )
    }

      
}
