@use "../foundation/global" as *;

.layout {
    position: relative;
    padding-bottom: 120px;

    &::before {
        content: "";
        display: block;
        width: 77.7%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $PureWhite;
    }

    @include mq("sp") {
        padding-bottom: 60px;
    }

    &-floatings {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;

        &.visible {
            
            @include animation(
                $name: Opacity,
                $iteration-count: 1,
                $duration: 3s,
                $delay: 2.5s,
                $timing-function: ease-in-out,
            )
        }
    }
    &-floating {
        position: absolute;
        height: auto;
    }
    &-floating01 {
        width: 30px;
        top: 30%;
        left: 10%;

        @include mq("sp") {
            width: 20px;
            top: 50%;
            left: 5%;
        }

        @include animation(
            $name: float01,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }
    &-floating02 {
        width: 40px;
        top: 50%;
        right: 5%;

        @include mq("sp") {
            width: 30px;
            top: 49%;
            right: -1%;
        }

        @include animation(
            $name: float02,
            $iteration-count: infinite,
            $duration: 2s,
        )
    }

    &__title {
        position: absolute;
        top: -50px;
        right: 60px;
        line-height: 1;

        @include mq("sp") {
            top: -24px;
            right: 24px;
        }
    }
    
    &-inner {
        position: relative;
        z-index: 5;
        padding-top: 40px;
        
        @include mq("sp") {
            padding-top: 10px;
        }
    }

    &-imgArea {
        width: 94.7%;
        margin: 0 0 0 auto;
        margin-left: auto;

        @include mq("sp") {
            width: 100%;
            max-width: 380px;
            margin: 0 auto;
        }
    }

    &__img {
        width: 100%;
        height: auto;
    }

    &-btn {
        width: 320px;
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin: 36px auto 0;
        background-color: $color_black01;
        border-radius: 64px;
        box-shadow: 10px 20px 40px rgba($PureBlack, .30);
        transition: all 0.3s ease 0s;

        &:hover {
            box-shadow: none;
            transform: translateY(3px);
        }

        @include mq("sp") {
            width: 284px;
            height: 64px;
        }

        &__text {
            font-size: 20px;
            font-weight: bold;
            color: $PureWhite;

            @include mq("sp") {
                font-size: 18px;
            }
        }
        &__arrowImg {
            width: 16px;
            height: auto;

            @include mq("sp") {
                width: 14px;
            }
        }
    }
}